.tasks{
    justify-content: start; /* vertically*/
    align-items: start;     /* horizontally */

    height: auto;  /* changes based on # of items */
    min-height: 180px;
    width: 250px; /* doesnt change because horizontal is always larger element defined in px and doesnt change*/
    padding: 7px;    
    /*z-index: 6; */
    
}
/* .tasks.drag.enabled {
    pointer-events: none;
} */
.tasks h2{
    margin: 0;

    /* underline */
    border-bottom: 1px solid #ccc;
    line-height: 25px;
    width: 100%;

}
.tasks ul{ /* make list items unselectable for highlighting */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style-type: none; /* remove default bullet points*/

    margin: 2px 0 0 0;
    padding: 0px 1px;
}
.tasks ul [type=checkbox]{ /* hide default checkbox */
    display: none;
}
.tasks ul li{
position: relative; /* makes child checkmark, using absolute, position within this container */ 
width: auto;
padding: 0px 19px;
}

/* tasks input */
.tasks input{
    position: absolute;
    padding: 2px 5px;
    width: 90%;

    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    
    border: none;
    outline: none;
    border-radius: 9px;
    background-color: rgb(255, 255, 255);
}
.tasks .addBtn{
    position: absolute;
    aspect-ratio: 1/1;
    width: 15px;
    bottom: 11px;
    right: 6%;
}



/* checkmarks */
.checkmark-box {
    position:absolute;
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}
.tasks ul li:hover input~.checkmark-box {
    background-color: rgb(200, 200, 200);
}

.checkmark {
    display: none;
}
.checkmark.draw:after {
    animation-name: checkmark;
    animation-duration: 800ms;
    animation-timing-function: ease;
    transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
    height: calc(3.5em/4);
    width: calc(1.75em/4);
    opacity: 1;
    border-radius: 2px;
    transform-origin: left top;
    border-right: 3px solid #5cb85c;
    border-top: 3px solid #5cb85c;
    content: '';
    left: 0;
    top: 0.7em;
    position: absolute;
    z-index: 7;
}
@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
   }
    20% {
        height: 0;
        width: calc(1.75em/4);
        opacity: 1;
        border-radius: 2px;
   }
    40% {
        height: calc(3.5em/4);
        width: calc(1.75em/4);
        opacity: 1;
        border-radius: 2px;
    }
    100% {
        height: calc(3.5em/4);
        width: calc(1.75em/4);
        opacity: 1;
        border-radius: 2px;
   }
}
